
<table  class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add user
</button>
    </th>
  </tr>
  </thead>
   {{#each users}}
  <tbody>
     
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.age}}</td>
    <td>{{this.address}}</td>
    <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#u{{this._id}}">
  Update
</button>
<a href="/delete/{{this._id}}" class="btn btn-danger" >
  Delete
</a>
    </td>
  </tr>
  </tbody>

  {{!-- update --}}
<div class="modal fade" id="u{{this._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Infomation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/update/{{this._id}}">
        <div class="mb-3">
        <label for="name" class="form-label" >Name</label>
        <input type="text" class="form-control" id="name" name="name" required value="{{this.name}}">
       
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age" required value="{{this.age}}"> 
        
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" name="address" required value="{{this.address}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Accept</button>
      </div>
  </form>
      </div>
      
    </div>
  </div>
</div> 




 {{/each}}

</table>

{{!-- add --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST" action="/add" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">

        <label for="username" class="form-label" >Username</label>
        <input type="text" class="form-control" id="username" name="username" required>

        <label for="password" class="form-label" >Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
       

        <label for="name" class="form-label" >Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
       
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age" required>
        
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" name="address" required>

</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Accept</button>
      </div>
    </form>
  </div>
</div> 

